body{
  background-color:#f9f9f9;
 
}

.App {
  text-align: center;
}

.body_contents {
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  left: 25%;
  position: absolute; 
  zIndex: 100;
} 