body{
  background-color:#f9f9f9;
 
}

.App {
  text-align: center;
}


.contents {
  background-color:white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 700px;
  left:27%;
  position: absolute; 
  zIndex: 100;
} 

.contents_top{
  width: 100%;
  height: 150px;
  background-color: #2b5dc4;
}

.titlebar{

  color: white;
  /* background-color: red; */
  padding-left: 20px;

}
.titlebar h1 {
  font-size: 42px;
}


.titlebar h6{
  color: #A4A4A4;
}

.searchbar{
  /* background-color: red; */
  width: 100%;
  padding-left: 20px;
}

.cellStyle{
  font-size: 18px;
  color: red;

}

.test{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center
}


